html, body {
    margin: 0;
    padding: 0;
    background-color: wheat;
}

.article.lead {
    width: 100%;
}

.article {
    width: calc(50% - 20px);
    border-bottom: 1px solid white;
    margin: 15px 0;
    transition: .3s;
    cursor: pointer;
}

.article:hover {
    box-shadow: 8px 5px 2px 1px rgba(0, 0, 255, .2);
    color: cadetblue;
}

.AppTitle {
    width: 200px;
    margin: 15px auto;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}

.articleWraper {
    width: 70vw;
    margin: 0 auto;
    padding: 15px;
    border-left: 5px solid white ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

}

.articleHead {
    position: relative;
}

.articleImage {
    width: 100%;
}

.articleImage img {
    width: 100%;
}

.articleTitleWrapper {
    background-color: cadetblue;
    position: absolute;
    bottom: 20px;
    width: 90%;
    margin: 0 auto;
}

.articleTitle {
    display: inline;
    margin: 0;
    padding: 5px;
    background-color: wheat;
    line-height: 35px;
    font-size: 24px;
    cursor: pointer;
}

.articleTitle:hover {
    color: cadetblue;
}

.articleLead {
    font-size: 15px;
    font-weight: bold;
}

.articleLead::first-line {
    color: cadetblue;
    font-size: 20px;
}