html, body {
    margin: 0;
    padding: 0;
    background-color: wheat;
}

.delimiter {
    width: 100%;
    border-bottom: 1px solid white;
    margin: 15px 0;
}

.AppTitle {
    width: 200px;
    margin: 15px auto;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}

.articleWraper {
    width: 70vw;
    margin: 0 auto;
    padding: 15px;
    border-left: 5px solid white ;
}

.articleTitleWrapper {
    background-color: cadetblue;
    margin-bottom: 20px;
}

.articleTitle {
    display: inline;
    margin: 0;
    padding: 10px;
    background-color: wheat;
    line-height: 35px;
}
